@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #C586A5;
    border-radius: 4px;
}

.active{
    background-color: #ffebf5;
    border-color: #C586A5;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 0.5rem;
    border: 1px solid #c2c2c2;
  }
  
  th {
    background-color: #f9f9f9;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f3f3f3;
  }
  